body{
    margin: 0px 20px 20px 20px;
}

.jumbotron{
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: orangered;
    color: white;
}
.card-header{
    background-color: orangered;
    color: white;
}
.card{
    width: 75%;
}

.btn{
    background-color: orangered;
    color: white;
}